# Dependencies
node_modules
.pnpm-store

# Build
dist
build
.next
out

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Temp
.temp
tmp

# Admin token
subscribers.json
